body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(
    135deg,
    rgb(19, 83, 161) 5%,
    rgb(185, 18, 207) 33%,
    rgb(206, 40, 142) 100%
  ); */
  background-color: darkgray;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#show {
  height: 80vh;
  margin: 10px;
  min-width: 320px;
  box-sizing: border-box;
}

.slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: nowrap;
  background: radial-gradient(
    circle,
    rgb(108, 186, 218) 0%,
    rgba(87, 199, 133, 1) 49%,
    rgba(237, 221, 83, 1) 100%
  );
  width: 300px;
  height: 36px;
  padding-inline: 8px;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-size: 36px;
  border-radius: 10px;
  position: relative;
  font-weight: 500;
  transform: rotate(-1, 5deg);
}

.slogan:after {
  content: "";
  background: rgb(173, 29, 29);
  width: 75%;
  height: 3px;
  position: absolute;
  bottom: 3px;
  left: 45;
  transform: rotate(-1deg);
}

.tickets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Responsive için wrap ekle */
  justify-content: center; /* Ticket'ları ortala */
  gap: 50px;
  perspective: 1000px; /* 3D efekti için */
}

.ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 5px;
  width: 480px;
  height: 120px;
  /* background: radial-gradient(
    circle,
    rgba(255, 196, 48, 1) 15%,
    rgba(148, 213, 233, 1) 100%
  ); */
  background-image: linear-gradient(135deg, #f34079 50%, #fc894d);
  color: white;
  border-radius: 20px;
  font-size: 36px;
  text-align: center;
  flex-wrap: wrap;
  /* overflow: hidden; */
  word-wrap: break-word;
  box-sizing: border-box;
  box-shadow: 0 16px 9px -4px rgba(0, 0, 0, 0.4);

  /*buradan sonra 3D dondurme*/
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d; /* 3D efekti aktif */
  /* border: 1px solid #000000; */
}

.front {
  background: transparent;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
  background: transparent;
}

.back_face {
}

#save {
  margin: 10px;
  padding: 10px;
  min-width: 320px;
  background: 0% rgba(202, 202, 202, 0.493);
  border-radius: 20px;
}

.add_word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.input_line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 66%; */
  margin: 5px;
  padding: 3px;
}

.word_input {
  display: block;
  box-sizing: border-box;
  border: 0;
  border-radius: 12px;
  min-width: 240px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
}

.gonder {
  width: 310px;
  margin-top: 10px;
  padding-block: 5px;
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  letter-spacing: 0.6px;
  line-height: 5;
  text-transform: uppercase;
}

.gonder:hover {
  outline: 1px solid black;
}

.gonder span {
  transition: all 200ms;
}

.gonder:hover span {
  color: #000000;
  font-weight: 700;
  transform: scale(0.9);
}

label {
  min-width: 60px;
  text-align: right; /* Metinleri sağa hizala */
  padding-right: 10px;
}

.word_paare {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 640px;
  height: 24px;
  margin-block: 5px;
  padding: 5px;
  border-radius: 10px;
  box-sizing: content-box;
}

.de1 {
  width: 30%;
  /* min-width: 120px; */
  margin-right: 10px;
  text-wrap: nowrap;
  background-color: #e18f1c;
  display: flex;

  font-weight: 700;
  text-align: left;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  transform: rotate(-1.5deg);
  /* box-sizing: content-box; */
}
.de1:after {
  border-radius: 5px;
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 1px;
  left: 1px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.tr1 {
  width: 60%;
  /* min-width: 210px; */
  margin-left: 8px;
  padding-left: 10px;
  padding-bottom: 5px;
  text-wrap: nowrap;
  background-color: #9c71ff;
  display: flex;
  font-weight: 550;
  position: relative;
  border-radius: 5px;
  transform: rotate(-1.5deg);
  overflow: hidden;
  border: 1px solid #000000;
}

.tr1:hover {
  overflow: visible;
}
.tr1:after {
  border-radius: 5px;
  content: "";
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  #show {
    height: 80vh;
    margin: 5px;
  }

  .slogan {
    width: 240px;
    font-size: 24px;
  }

  .tickets {
    flex-direction: column; /* Ticket'ları alt alta diz */
    align-items: center;
  }

  .ticket {
    height: 100px;
    width: 450px;
    margin: 25px; /* Yüksekliği küçült */
  }

  #save {
    box-sizing: border-box; /* Border ve padding genişlik içinde */
  }

  .add_word {
    width: 90%; /* Daha geniş alan */
  }

  label {
    text-align: right;
  }

  .word_paare {
    display: flex;
    width: 90%;
    height: 18px;
    padding-inline: 7px;
    padding-block: 12px;
    border: 0;
    box-sizing: content-box;
  }

  .de1 {
    min-width: 145px;
    font-size: 0.9rem;
    text-align: left;
    justify-content: start;
    padding-inline: 5px;
  }

  .tr1 {
    font-size: 0.9rem;
    padding-inline: 5px;
  }
}

@media (max-width: 480px) {
  body {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    min-width: 400px;
  }
  #show {
    display: flex;
    height: 80vh;
    min-width: 100%; /* Tam genişlik */
    margin: 5px;
  }

  .slogan {
    width: 180px; /* Daha da küçült */
    margin: 10px;
    font-size: 20px;
  }

  .ticket {
    height: 100px;
    width: 300px;
    margin-block: 20px;
    font-size: 24px;
  }

  .word_paare {
    display: flex;
    width: 100%;
    height: 18px;
    margin-inline: auto;
    padding-inline: 5px;
    padding-block: 12px;
    border: 0;
    box-sizing: border-box;
  }

  .de1 {
    min-width: 120px;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 400;
    transform: rotate(-1deg);
  }

  .tr1 {
    font-size: 0.8rem;
    padding-left: 5px;
    font-weight: 350;
    box-sizing: content-box;
    transform: rotate(-1deg);
  }

  #save {
    margin: 10px;
    padding: 10px;
    min-width: 320px;
    border-radius: 20px;
  }

  .word_input {
    padding: 7px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px; /* Sola hizala */
  }

  label {
    text-align: left; /* Sola hizala */
    padding-right: 10;
  }

  .gonder {
    height: 36px;
    letter-spacing: 0.6px;
    line-height: 2;
  }
}
